body {
	position: relative;
	background-color: teal;
}

h1 {
	margin: 10px 20px;
	font-size: 30pt;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

#main {
	position: relative;
	background-color: rgb(45, 51, 78);
	color: white;
	display: flexbox;
	font-family: sans-serif;
	width: fit-content;
	padding: 25px;
	border-radius: 1em;
	box-shadow: 2px 2px 5px black;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translateY(-50%); */
}

.gen-hr {
	margin-top: 20px;
}

div {
	display: block;
	text-align: center;
	margin: 20px 0px;
	justify-content: space-evenly;
}

#button-div {
	display: block;
	text-align: center;
	margin: 30px 0px 0px 0px;
	justify-content: space-evenly;
}

#submit-button {
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 4px 8px;
	letter-spacing: 2px;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px black;
}

#submit-button:active {
	outline: none;
	background-color: white;
	color: black;
	border: 1px solid black;
}

.meme-div {
	margin: 20px 20px 60px 20px;
	position: relative;
}

.topMemeText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke: inset;
	font-size: 35pt;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	margin: 0;
}

.bottomMemeText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke: inset;
	font-size: 35pt;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	margin: 0;
}

.remove-btn {
	position: absolute;
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
